$primary-color: black;

@mixin easeOut {
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
body {
  min-height: 100vh;
  background: $primary-color;
  font-family: "Open Sans";
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.menu {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  visibility: hidden;

  &--active {
    visibility: visible;
  }

  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
    background: mix(black, $primary-color, 20);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__brand {
    background: $primary-color;
    @include easeOut;
    transform: translate3d(0, 100%, 0);

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__item {
    transform: translate3d(500px, 0, 0);
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    @include easeOut;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      transform: translateX(-50%);
      @include easeOut;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  // add delay to each menu item
  @for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * 0.1s;
    }
  }
}

// responsive tablet view
@include tablet {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu__list {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .logo {
      width: 90px;
      height: 90px;
    }
  }
}
